# Build outputs
build/
*.exe
*.obj
*.o
*.pdb
*.ilk
*.exp
*.lib

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
!CMakeLists.txt

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Results
result_cpp.txt

